.App {
  /* width: 100%vh;
  height: 100%vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

h2 {
  font-family: pacifico;
  /* position: relative; */
  /* top: 100px; */
  /* left: 700px; */
  font-size: xx-large;
  margin-top: -400px;
  /* box-shadow: 0 0 5px blue; */
  width: 100px;
  padding: 5px;
  /* line-height: 150%; */
  text-shadow: -10px 0 #ff0000, 0 1px #ff0000, 1px 0 #ff0000, 0 -1px #ff0000;
}
