.Navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ff4e00; */
  background-color: rgba(5, 247, 53, 0.7);
  background-image: linear-gradient(315deg, #077bff 0%, #ff07e6 74%);
}

.Navbar ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  font-weight: bold;
  list-style-type: none;
}

.logo {
  width: 50px;
  height: 50px;

  position: sticky;
  top: 0px;
  rotate: 180deg;
}

.Navbar ul li {
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.Navbar ul li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.Navbar input {
  margin-bottom: 20px;
  width: 300px;
  padding: 12px 24px;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  outline: none;
}

.Navbar__cart {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 2rem;
}

.iconacarr {
  cursor: pointer;
}

@media (max-width: 768px) {
  .Navbar__cart {
    right: 5px;
    top: -7px;
    font-size: 1.2rem;
  }
}
