ul {
  background-color: aquamarine;
  color: rgb(255, 140, 0);
  align-items: left;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 106px;
  text-decoration: none;
}

header {
  background-color: rgb(4, 243, 243);
  border: 1px solid red;
  border-radius: 12px;
  height: 100px;
}
