<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entra</title>
  </head>
  <body>
    <h1>Come impostare un utente autorizzato</h1>
    {{#if message}}
      <h3>{{message}}</h3>
    {{/if}}

    <form action="/signup" method="POST">
      <input type="text" name="name" placeholder="nome" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Entra</button>
    </form>
  </body>
</html>