<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=h, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>sono l'intestazione della pagina</h1>
    </header>
    <h1>ciaoooooooo aboutttttttttt</h1>
    <footer>
      <h1>io sono il footer</h1>
    </footer>
  </body>
</html>