<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/stile.css" class="style" />
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    <h1>ciao {{name}}</h1>
    <p>pet <span>{{pet}}</span></p>

{{!-- da notare che qui essendo pet parte dell'oggetto my prefernces è diverso da sopra
     --}}
    <p>le mie preferenze {{myPreferences.pet}}</p>
    {{>footer}}
  </body></html>