<header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Prodotti</a></li>
      <li><a href="#">Assistenza</a></li>
      <li><a href="#">Store</a></li>
    </ul>
    <ul>
      <li><a href="#">Account</a></li>
      <li><a href="#">Carrello</a></li>
    </ul>
  </nav>
</header>