.Main {
}

.dark-mode {
  background-color: rgb(32, 32, 32);
  color: rgb(225, 225, 225);
}

.toggle-mode {
  position: fixed;
  top: 50px;
  right: 50px;
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
}

.cane {
  width: 300px;
  height: 450px;
  padding: 15px;
}

.breeds {
  /* border: 1px solid black; */
  align-items: flex-start;
}

.buttons {
  padding: 3px;
  padding-left: 25px;
}

.buttons :hover {
  transition: 0.5s all;
  scale: 1.8;
  cursor: pointer;
}
